.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

.main-text {
    text-align: center;
    margin-top: 64px;
}

.search-container {
    justify-content: center;
    padding-top: 64px;
    display: flex;
    gap: 16px;
    color: var(--color-neutral-200);
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-800);
    border-radius: 12px;
    width: 526px;
}

.search-container:focus-within .search-bar {
    border-color: var(--color-neutral-0);
}

.search-bar {
    display: flex;
    border: 2px solid transparent;
}

.search-input {
    display: flex;
    padding-left: 24px;
    gap: 16px;
    flex-grow: 1;
}

.search-input-field {
    flex-grow: 1;
    padding-right: 24px;
}

.search-input input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-neutral-200);
}

.search-input input::placeholder {
    color: var(--color-neutral-200);
}

.search-button {
    border-radius: 12px;
    background-color: var(--color-blue-500);
    padding-left: 24px;
    padding-right: 24px;
}

.left-side {
    display: block;
    width: 800px;
}

.wheater-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 48px;
    width: 100%;
    gap: 32px;
}

.wheater-info {
    background-image: url('/assets/images/bg-today-large.svg');
    height: 286px;
    width: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.indicators-container {
    padding-top: 32px;
    display: flex;
    width: 100%;
    gap: 24px;
}

.indicator-card {
    background-color: var(--color-neutral-700);
    border-radius: 12px;
    padding-left: 20px;
    width: 100%;
}

.hourly-forecast-container {
    background-color: var(--color-neutral-700);
    width: 384px;
    border-radius: 20px;
}

.wheater-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
}

.location-info {
    display: block;
}

.temperature-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.weather-icon {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.daily-forecast-container {
    padding-top: 28px;
    width: 100%;
}

.daily-forecast {
    display: flex;
    gap: 16px;
}


.wheater-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-neutral-700);
    border-radius: 18px;
}

.wheater-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.temperature-range {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}