.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

.main-text {
    text-align: center;
    margin-top: 64px;
}

.search-container {
    justify-content: center;
    padding-top: 64px;
    display: flex;
    gap: 16px;
    color: var(--color-neutral-200);
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-800);
    border-radius: 12px;
    width: 526px;
}

.search-container:focus-within .search-bar {
    border-color: var(--color-neutral-0);
}

.search-bar {
    display: flex;
    border: 2px solid transparent;
}

.search-input {
    display: flex;
    padding-left: 24px;
    gap: 16px;
    flex-grow: 1;
}

.search-input-field {
    flex-grow: 1;
    padding-right: 24px;
}

.search-input input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-neutral-200);
}

.search-input input::placeholder {
    color: var(--color-neutral-200);
}

.search-button {
    border-radius: 12px;
    background-color: var(--color-blue-500);
    padding-left: 24px;
    padding-right: 24px;
}

.left-side {
    display: block;
    width: 100%;
}

.wheater-content {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    width: 100%;
    gap: 32px;
}

.wheater-card {
    background-image: url('/assets/images/bg-today-large.svg');
    height: 286px;
    width: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.indicators-container {
    padding-top: 32px;
    display: flex;
    gap: 24px;
}

.indicator-card {
    background-color: var(--color-neutral-700);
    border-radius: 12px;
    width: 100%;
    height: 118px;
}

.hourly-forecast-container {
    background-color: var(--color-neutral-700);
    height: 693px;
    width: 384px;
    border-radius: 20px;
}